In [2]:
dic={'moiz': 'HEY MANSOORI','mansoori':'HEY MOIZ'}
print(dic['moiz'])

HEY MANSOORI

In [10]:
{x:x**2 for x in (2,3,4,5,6)}

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [8]:
#how to insert item in dictionary
dic={'name':'mansoori','age':53}
print(dic)
dic['name']='moiz'
print(dic)
dic['city']= "USA"
print(dic)
del(dic['age'])
print(dic)

{'name': 'mansoori', 'age': 53}
{'name': 'moiz', 'age': 53}
{'name': 'moiz', 'age': 53, 'city': 'USA'}
{'name': 'moiz', 'city': 'USA'}

In [25]:
e={'num1':[3,4,5,6,7],'num2':[5,7,3,4,6],'num3':[7,8,5,3,3]}
for i,j in e.items():
    e[i]= sorted(j)
print(e)

{'num1': [3, 4, 5, 6, 7], 'num2': [3, 4, 5, 6, 7], 'num3': [3, 3, 5, 7, 8]}

In [16]:
inv={'gold':500,'pouch':['flint','twin','gemstone','hagger','stone','turbole'],
    'backpack':['pen','ink','baby','james']}
i=input("enter a key")
if i in inv.keys():
    j=inv[i]
    for i in  j:
        if i!="hagger":
            print(i)

enter a keypouch
flint
twin
gemstone
stone
turbole

In [3]:
#problem31
def printDict():
    d=dict()
    d[1]=1
    d[2]=2**2
    d[3]=3**2
    print (d)

    


printDict()

{1: 1, 2: 4, 3: 9}

In [18]:
d=dict()
d["moiz"]="abedin"
d["hussain"]="murtaza"
print(d.values())

dict_values(['abedin', 'murtaza'])

In [33]:
#problem32,33and 34
def sqdict():
    
    d=dict()
    for i in range(1,21):
        d[i]=i**2
    print(d)
    print(d.values())
    ##for(a,b) in d.items():
      ##  print(a)
    print(d.keys())
sqdict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400])
dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [13]:
#problem35 and 36 and 37
def printlist():
    li=list()
    for i in range(1,21):
        li.append(i**2)
        m=li[0:5]
        #n=li[15:21]
        n=li[-5:]
    print(li)
    print(m)
    print(n)
    
printlist()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
[1, 4, 9, 16, 25]
[256, 289, 324, 361, 400]

In [3]:
def tusq():
    li=list()
    for i in range(1,21):
        li.append(i**2)
    print(li)
    print(tuple(li))
tusq()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

In [11]:
li=list()
for i in range(1,11):
    li.append(i)
print(li)
a=li[:5]
print(a)
b=li[5:]
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [20]:
words=['moiz','maria','mansoor','taher','taha','hussain','hasan']
by_letter={}
for word in words:
    letter=word
    if letter in by_letter:
        by_letter[letter].append(word)
    else:
        by_letter[letter]=[word]
by_letter

{'moiz': ['moiz'],
 'maria': ['maria'],
 'mansoor': ['mansoor'],
 'taher': ['taher'],
 'taha': ['taha'],
 'hussain': ['hussain'],
 'hasan': ['hasan']}

In [21]:
words=['moiz','maria','mansoor','taher','taha','hussain','hasan']
by_letter={}
for word in words:
    letter=word[0]
    if letter in by_letter:
        by_letter[letter].append(word)
    else:
        by_letter[letter]=[word]
by_letter

{'m': ['moiz', 'maria', 'mansoor'],
 't': ['taher', 'taha'],
 'h': ['hussain', 'hasan']}

In [22]:
words=['moiz','maria','mansoor','taher','taha','hussain','hasan']
by_letter={}
letter=word[0]
if letter in by_letter:
    by_letter[letter].append(word)
else:
    by_letter[letter]=[word]
by_letter

{'h': ['hasan']}

In [23]:
words=['moiz','maria','mansoor','taher','taha','hussain','hasan']
by_letter={}
for word in words:
    #letter=word
    if letter in by_letter:
        by_letter[letter].append(word)
    else:
        by_letter[letter]=[word]
by_letter

{'h': ['moiz', 'maria', 'mansoor', 'taher', 'taha', 'hussain', 'hasan']}

In [25]:
# if we want to make a key immutable like tuples you can wether check key is hashable with hash function
#hash takes only one argument
hash('string')

-1200935340669299474

In [30]:
hash((1,2,(2,3)))

1097636502276347782

In [31]:
hash((1,2))

3713081631934410656

In [32]:
hash((1,2,[3,4]))
#it fails beacuse list is mutable

TypeError: unhashable type: 'list'

In [38]:
#if you want to make a list as a key you have to convert it into tuple so you can hashed that elements long
d={}
d [tuple([1,2,4])]=8
d

{(1, 2, 4): 8}